<ion-header style="visibility: hidden;">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="start" style="pointer-events: none">
    <ion-button> Locations </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button fill="solid" color="primary" (click)="this.router.navigate(['/main/create'])"> Create </ion-button>
    <ion-fab-button (click)="changeViewMode()">
      <ion-icon [hidden]="gridMode" name="grid"></ion-icon>
      <ion-icon [hidden]="!gridMode" name="list"></ion-icon>
    </ion-fab-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <app-skeleton-list *ngIf="isLoading" [gridMode]="gridMode"></app-skeleton-list>
  <app-list #listComponent [gridMode]="gridMode"></app-list>

  <ion-infinite-scroll #ioninfinite threshold="0px"
    (ionInfinite)="fetchPosts($event, {limit: limit, page: currentPage + 1 })" disabled="{{disableScroll}}">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="load more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="listEnd" [hidden]="!noMorePost">
    <img
      [src]="'https://images.vexels.com/media/users/3/157931/isolated/preview/604a0cadf94914c7ee6c6e552e9b4487-curved-check-mark-circle-icon.png'" />
  </div>
</ion-content>
