<div class="popup">

  <div class="container">

    <h3 class="confirm">
      You sure?
    </h3>

    <ion-toolbar style="--background: transparent">
      <ion-buttons slot="start">
        <ion-button fill="solid" color="primary" (click)="onNo()"> No </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="danger" (click)="onYes()"> Yes </ion-button>
      </ion-buttons>

      <ion-title style="visibility: hidden;">actions</ion-title>
    </ion-toolbar>
  </div>

</div>
